html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.header {
  background: url('../img/beach.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
}

#header-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

#header-text h1 {
  font-size: 60px;
}

#header-text h2 {
  font-size: 40px;
}

#arrow-box {
  width: 70px;
  height: 60px;
  background: black;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 50px 0 0;
}

#arrow {
  color: white;
  display: flex;
  justify-content: center;
}


/*** About ***/
.about img {
  width: 400px;
  height: 400px;
}

.about {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 150px 20px;
  background: #2980b9;
  color: white;
}


/*** Projects ***/
.projects .run {
  padding: 150px 20px;
  background: #e74c3c;
  color: white;
}

.projects .row {
  display: flex;
  text-align: center;
  justify-content: center;
}

.projects img {
  max-width: 100%;
  padding-bottom: 30px;
}

.projects h3 {
  font-size: 25px;
}

.projects p {
  padding-top: 20px;
}


/*** Contact ***/
.contact {
  padding: 100px 20px;
  margin: 0 auto;
  background: #2980b9;
  color: white;
}

.contact .row {
  display: flex;
  text-align: center;
  justify-content: center;
}

.contact #contact-box {
  width: 250px;
  padding: 0 50px;
  margin: auto;
  display: block;
  position: relative;
  justify-content: center;
}

.contact h3 {
  padding: 20px 0;
  text-align: center;
}

.contact ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  text-align: left;
}

.contact li {
  padding: 5px 0;
}

.contact li a {
  font-size: 20px;
  color: white;
}

.contact li a:hover {
  color: grey;
  text-decoration: none;
}
